i386*
*.i386*
x86_64*
*.x86_64*
arm64_*
*.arm64_*
*~
*.deps
tst/*
test.prs
test_final.act
output.act
output_opt.act
output_bundled.act
test_rand.prsim
prsim.out
.DS_Store
config_pkg.h
config.mk
*.so
.idea
cmake-build-debug
